@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.form-control {
  border-color: #1e1e1e;
  color: #1e1e1e;
  border: 1px solid #444;
}

.form-check-input {
  border-color: #1e1e1e;
  color: #1e1e1e;
  border: 1px solid #444;
}
.form-select {
  border-color: #1e1e1e;
  color: #1e1e1e;
  border: 1px solid #444;
}
input[type="date"].form-control {
  background-color: #ffffff;
  color: #1e1e1e;
}
